<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gbt_4">
    <!-- 인터넷 권한(퍼미션) 추가 = 네트워크 통신에 필요 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="굿바이 타바코"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GBT_4"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AgreeDialog"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            />
        <activity
            android:name=".Invite"
            android:exported="false" />
        <activity
            android:name=".Notice"
            android:exported="false" />
        <activity
            android:name=".ChatRoom"
            android:exported="false" />
        <activity
            android:name=".CustomChallengeIng"
            android:exported="false" />
        <activity
            android:name=".SelectEndTime"
            android:exported="false" />
        <activity
            android:name=".SelectStartTime"
            android:exported="false" />
        <activity
            android:name=".SelectEndDate"
            android:exported="false" />
        <activity
            android:name=".CustomChallengeSatus"
            android:exported="false" />
        <activity
            android:name=".CreateCustomChallenge"
            android:exported="false" />
        <activity
            android:name=".OfficialChallengeVerify"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
        <activity
            android:name=".OfficialChallengeStatus"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".OfficialChallengeIng"
            android:exported="false" />
        <activity
            android:name=".CustomChallengeDetail"
            android:exported="false" />
        <activity
            android:name=".OfficialChallengeDetail"
            android:exported="false" />
        <activity
            android:name=".info.UpdateInfo"
            android:exported="false" />
        <activity
            android:name=".info.MyInfo"
            android:exported="true" />
        <activity
            android:name=".MainPage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".InputInfo"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LogIn"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>